body {
  margin: 0 auto;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
a:hover {
  color: #9f0013;
}
ol,
ul {
  padding: 0;
}
span,
.active {
  color: #9f0013;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
  }
}

// PAGES / PAGE PARTS

@import "../styles/components/header";
@import "../styles/components/randomChar";
@import "../styles/components/charInfo";
@import "../styles/components/charListItem";

//


// COMPONENTS / ELEMENTS

@import "../styles/components/button";

//
