@import "../styles/components/variables";

body {
  margin: 0 auto;
  background-color: $backgrount-color1;
  color: $text-color;
  transition: color, background .2s;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: $text-color;
  transition: all 0.2s;
}
a:hover {
  color: $focus-color;
}
ol,
ul {
  padding: 0;
}
span,
.active {
  color: $focus-color;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
  }
}

// PAGES / PAGE PARTS

@import "../styles/components/header";
@import "../styles/components/randomChar";
@import "../styles/components/charInfo";
@import "../styles/components/charListItem";
@import "../styles/components/appBanner";
@import "../styles/components/comicsListItem";
@import "../styles/components/singleComicPage";

// COMPONENTS / ELEMENTS

@import "../styles/components/button";
@import "../styles/components/theme-button";
