.button {
  width: 101px;
  height: 40px;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s transform;
  border: none;
  background-color: #9f0013;
  line-height: 18px;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
  &-secondary {
    background-color: #5c5c5c;
  }
  a {
    color: #fff;
  }
}
